default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: rails
  password: password
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: e_learning

test:
  <<: *default
  database: e_learning_test

production:
  <<: *default
  database: e_learning_production
