<p><%= t "user.wellcome" %> <%= @email %>!</p>
<p><%= t "user.you_can_confirm_your_account_email_through_the_link_below" %></p>
<p><%= link_to t("user.confirm"), confirmation_url(@resource, confirmation_token: @token) %></p>
