<p><%= t "hello" %> <%= @resource.email %>!</p>
<p><%= t "user.someone_requested_change_your_password" %></p>
<p><%= link_to t("user.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>
