<%= provide :title, t("user.edit") %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <hr class="invisible">
    <h6 class="m-0 font-weight-bold text-primary"><%= t "user.edit" %></h6>
  </div>
  <div class="card-body">
    <%= render "admin/users/form"%>
  </div>
</div>
